.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container , {
  float : left;
  width : 33.33%;
  height : 470px;
}

.Poster , .Wapper_tag{
  float :left;
  padding : 5px;
}

.plot , .actors, .gener ,.title {
width : 200px;
height: auto;
border: 2px solid ;
border-radius: 10px;
border-color: #d9dbd9;
margin : 5px 0;
padding : 5px;
background-color: #ebedeb;
}

.title{
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

button:hover {
  background-color: #c5eefa; /* Green */
  color: white;
}

.multiMovieList{
  margin : 10px 5px;
  overflow: auto;
  padding : 4px;
  width:300px;
  height: auto;

}

.multi_container{
    width: 25%;
    display: inline-block;
    border: 2px solid ;
    border-radius: 10px;
    border-color: #d9dbd9;
    margin: 10px;
}

.paginationBttns{
width: 80%;
height: 40px;
list-style: none;
display: flex;
justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border:  1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover{
color: white;
background-color: #2b2eff;
}

.paginationActive a {
color: white;
background-color: #2b2eff;
}